.admin-container{

  width: 100%;
  height: 500px;
  display: flex;
 
  
}
.admin{
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;

}
.left-column{
  flex: 1;

  /* background-color: red; */
  padding-top: 50px;
  margin-left: 20px;
}
.right-column{
  flex: 1;
  padding-top: 50px;
}
.heading-admin{ 
position: relative;
left: 30%;
}
/* tr{
  text-decoration: line-through;
} */
